extends layout

block content
    h1= title
    p Welcome to #{title}.
    br
    p My self Kiran Kumar Gundapuneni
    - let results=[{zodiac_name:"Leo",zodiac_meaning:"Lion",lucky_number:"34"},{zodiac_name:"Gemini",zodiac_meaning:"Dioscuri",lucky_number:"18"},{zodiac_name:"Aquarius",zodiac_meaning:"water-carrier",lucky_number:"23"}]
    div(class="container-fluid")
        div(class="row")
            each zodiac , index in results
                div(class="col-sm-2") #{zodiac.zodiac_name} - #{zodiac.zodiac_meaning} - #{zodiac.lucky_number}